.EMS-Single-font {
  font-family:"Helvetica Neue",Helvetica,Arial, "WenQuanYi Micro Hei","Hiragino Sans GB", "Microsoft YaHei",sans-serif;
  float:left;
  /*padding-left:10px;*/
}

.ems-single-card-HR {
  align-content:left;
  width:100%;
  height:1px;
  border:none;
  border-top:1px solid #c3c3c3;
}

.EMS-Single-heading {
  font-weight:400;
}

.EMS-Single-text-content {
  font-family:"Helvetica Neue",Helvetica,Arial, "WenQuanYi Micro Hei","Hiragino Sans GB", "Microsoft YaHei",sans-serif;
  float:left;
  font-weight:lighter;
  color:rgb(100,100,100);
  font-size:14px;
  height:30px;
  margin-top:5px;
  padding:3px 0px;
}

.ems-single-box {
  box-shadow:0px 6px 30px rgba(0,0,0,0.2);
}

#ems-single-box-sender {
  border-left:solid;
  border-color:#9baabf;
  border-width:5px;
}

.btn:not(:disabled):not(.disabled) {
  font-family:"Helvetica Neue",Helvetica,Arial, "WenQuanYi Micro Hei","Hiragino Sans GB", "Microsoft YaHei",sans-serif;
}

#ems-single-btn-to-search {
  background-color:#87afbf;
  border:none;
  color:white;
  /*padding:15px 32px;*/
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
}

#ems-single-btn-to-search:hover {
  background-color:#5e99aa;
}

#ems-single-btn-to-search:focus {
  background-color:#5e99aa;
  outline:0;
}

#ems-single-btn-to-search:active {
  background-color:#004459;
}

button, input {
  overflow:visible;
}

.file:hover {
  background:#AADFFD;
  border-color:#78C3F3;
  color:#004974;
  text-decoration:none;
}

.a-upload {
  padding:4px 10px;
  height:20px;
  line-height:20px;
  position:relative;
  cursor:pointer;
  color:#888;
  background:#fafafa;
  border:1px solid #ddd;
  border-radius:4px;
  overflow:hidden;
  display:inline-block;
  *display:inline;
  *zoom:1;
}

.a-upload input {
  position:absolute;
  font-size:100px;
  right:0;
  top:0;
  opacity:0;
  filter:alpha(opacity=0);
  cursor:pointer;
}

.a-upload:hover {
  color:#444;
  background:#eee;
  border-color:#ccc;
  text-decoration:none;
}

